<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Sortir à Lille- [[$bars.nameB]]</title>
  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
  <header>
    <!--Barre de navigation-->
    <ul>
      <li><a href="home">Accueil</a></li>
      <li><a class="active" href="bars">Les Bars</a></li>
      <li><a href="quartiers">Les Quartiers</a></li>
      <li><a href="ajoutb">Ajouter un bar</a></li>
      <li><a href="ajoutq">Ajouter un quartier</a></li>
      <li><a href="contact">Contact</a></li>
      <li class="rechercher"><form><input type="text" class="rech" name="search" placeholder="Rechercher un bar, un quartier..."></form>
    </ul>
  </header> 

  <!-- Image et description du bar-->
  <div class="bars">
    <div class="img_bars">
      <img th:src="${'images/'+imgB}"">
      <section class="descbar">
        <header><h1>[[$bars.nameB]]</h1></header>
         <p><b>[[$bars.styleB]] / Quartier : </b>[[$bars.quartierB]</p>
        <p th:text="${quartiers.descritpionB}"></p>
      	<p><b>Horaires :</b> [[$bars.heureOuvB]]-[[$bars.heureFermB]] le(s) [[jourOuverture]]</p>
      	<input class="supprimer" type="submit" value="supprimer">
      </section>
    </div>
  </div>
  
</body>

</html>